#but-slide-panel {
    position: absolute;
    top: calc(50% - 1em);
    right: 0;
    width: 1vw;
    height: 2em;
}

#panel-right {
    position: absolute;
    height: 100vh;
    right: calc(7vw + 0.5em);
    top: 0;
    z-index: 100;
    opacity: 0.9;
    box-shadow: -1.5px 0px 1px 1px lightgreen;

    --width-panel-right: 42vw;
}
#panel-right {
    width: var(--width-panel-right);
}
#panel-right.open {
    animation: slideLeft 1000ms ease forwards;
    width: var(--width-panel-right);
    opacity: 1;
}
#panel-right.close {
    animation: slideRight 1000ms ease forwards;
    width: 0;
    opacity: 0;
}
#panel-right .but-close{
    font-size: 2em;
    color: var(--color-text);
    position: absolute;
    top: 0.5em;
    right: 1em;
    width: 1em;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}

.card-body {
    overflow-y: scroll;
}

.card-first {
    box-sizing: border-box;
}
.card-first .card-header {
    height: 15vh;
}
.card-first .card-body {
    height: 70vh;
}
.card-first .card-body.close {
    height: 0;
}
.card-first .card-body.open {
    animation: grow 1000ms ease forwards;
}
.card-first .card-body.close {
    animation: shrink 1000ms ease forwards;
}

.card-second {
    position: relative!important;
    opacity: 0;
    height: 0;
    padding: 0;
}
.card-second.open {
    animation: slideUp 1000ms ease forwards;
}
.card-second.close {
    animation: slideDown 1000ms ease forwards;
}

#but-playlist {
    height: 15%;
    width: 100%;
}

@keyframes grow {
    from {
        height: 0;
        opacity: 0;
        padding: 0;
    }

    to {
        height: 70vh;
        opacity: 1;
    }

}
@keyframes shrink {
    from {
        height: 70vh;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
        padding: 0;
    }
}

@keyframes slideUp {
    from {
        position: relative!important;
        height: 0;
        opacity: 0;
    }

    to {
        top: 0;
        height: 70vh;
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        top: 0;
        height: 70vh;
        opacity: 1;
    }

    to {
        position: relative!important;
        height: 0;
        opacity: 0;
    }
}

@keyframes slideLeft {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: var(--width-panel-right);
        opacity: 1;
    }
}
@keyframes slideRight {
    from {
        top: 0;
        width: var(--width-panel-right);;
        opacity: 0.9;
    }

    to {
        position: relative!important;
        width: 0;
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    #panel-right {
        right: calc(7vw + 0.5em);
        --width-panel-right: 42vw;
    }
}
@media (max-width: 767px) {
    #panel-right {
        right: calc(13vw + 0.5em);
        --width-panel-right: 70vw;
    }
}
@media (max-width: 478px) {
    #panel-right {
        right: calc(23vw + 0.5em);
        --width-panel-right: 77vw;
    }
}