* {
	box-sizing: border-box;
}

/* this is what I use to place the menu thing wherever I want*/
.container-socials {
	position: relative;
	top: 4em;
	right: 0.5em;

    --circle-size: 2.5em;
    --top: 2em;
    --void: 0.25em;
    --icon-size: 1.25em;
    --top-toggle: -3em;
    --right-toggle: 0em;
}

/* this toggles the whole damn thing */
.menu-toggle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--color-secondary);
	box-shadow: 4px 4px 2px 1px #00000033;
	
	position: absolute;
	z-index: 50;
	top: var(--top-toggle);
	right: var(--right-toggle);
	display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle:hover {
    cursor: pointer;
    background-color: var(--color-secondary-soft);
}


.menu-toggle svg{
    color:#fff;
    font-size: 2em;
    transition: 0.4s;
}

/* Single Template buttons */
.btn-app {
    width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 50%;
	position: absolute;
	
	background-color: var(--color-secondary);
	color:#fff;
	text-align: center;
}
.btn-app:hover {
    background-color: var(--color-secondary-soft);
}
.btn-app svg {
    line-height: 2.5em;
}
.btn-app a {
    color: #fff;
}

/* add shadow only when templates are activated */
.open .btn-app {
	box-shadow: 4px 4px 2px 1px #00000033;
}

/* The most-popular apps in a circular thingo */
.menu-round {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
}

.menu-round .btn-app {
    top: calc(var(--top-toggle) * 0.75);
    right: var(--right-toggle);
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--icon-size);
}

.menu-round.open .btn-app:nth-of-type(1) {
    right: 0.5em;
    top: 1em;
    transition-delay: 0.2s;
}

.menu-round.open .btn-app:nth-of-type(2){
    right: 3.5em;
    top: 0em;
    transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3){
    right: 3.75em;
    top: -3em;
}

/* stacked template icons */
.menu-line {
	position: absolute;
    top: var(--top-toggle);
	z-index: 20;
}

.menu-line .btn-app {
    top: 0;
    right: -4.25em;
    transition: 0.35s;
    transition-delay: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--icon-size);
}

.menu-line.open {
    top: calc(0.75em + var(--top-toggle));
    z-index: 120;
}

.menu-line.open .btn-app {
    right: calc(-1em + var(--right-toggle));
}

@media (max-width: 900px) {
    .menu-line .btn-app {
        right: -2.25em;
    }
    .menu-line.open .btn-app {
        right: calc(1em + var(--right-toggle));
    }
}
@media (max-width: 767px) {
    .menu-line .btn-app {
        right: -2em;
    }
    .menu-line.open .btn-app {
        right: calc(1.25em + var(--right-toggle));
    }
}

.menu-line.open .btn-app:nth-of-type(1) {
    top: calc(var(--top) + 1 * (var(--circle-size) + var(--void)));
}
.menu-line.open .btn-app:nth-of-type(2) {
    top: calc(var(--top) + 2 * (var(--circle-size) + var(--void)));
}
.menu-line.open .btn-app:nth-of-type(3) {
    top: calc(var(--top) + 3 * (var(--circle-size) + var(--void)));
}
.menu-line.open .btn-app:nth-of-type(4) {
    top: calc(var(--top) + 4 * (var(--circle-size) + var(--void)));
}