#panel-left {
    position: absolute;
    height: 100vh;
    width: 42vw;
    background-color: gray;
    left: 7vw;
    z-index: 50;
    opacity: 0.9;

    --width-panel-left: 42vw;
}
#panel-left {
    width: var(--width-panel-left);
}
#panel-left.open {
    animation: slideLeft2 750ms ease forwards;
    width: var(--width-panel-left);
    opacity: 0.9;
}
#panel-left.close {
    animation: slideRight2 750ms ease forwards;
    width: 0;
    opacity: 0;
}
#panel-left .but-close{
    font-size: 2em;
    color: var(--color-text);
    top: 0.5em;
    right: 1em;
    width: 1em;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}

.card-body {
    overflow-y: scroll;
}

.card-first {
    box-sizing: border-box;
}
.card-first .card-header {
    height: 15vh;
}
.card-first .card-body {
    height: 70vh;
}
.card-first .card-body.close {
    height: 0;
}

#but-genres {
    height: 15%;
    width: 100%;
}

.card-body {
    overflow-y: scroll;
}

@keyframes slideLeft2 {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: var(--width-panel-left);
        opacity: 0.9;
    }
}
@keyframes slideRight2 {
    from {
        width: var(--width-panel-left);
        opacity: 0.9;
    }

    to {
        width: 0;
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    #panel-left {
        left: 7vw;
        --width-panel-left: 42vw;
    }
}
@media (max-width: 767px) {
    #panel-left {
        left: 13vw;
        --width-panel-left: 70vw;
    }
}
@media (max-width: 478px) {
    #panel-left {
        left: 23vw;
        --width-panel-left: 77vw;
    }
}