html,body {
  width: 100vw;
  background-color: black;

  /*Word breaking*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /*Support for old browsers*/
  word-wrap: break-word;
}